*{
    font-size: 1.1em;
    margin: 3%;
}
body {

}
h1 {
    font-size: .9em;
}
h2 {

}

img {
    max-width: 100%;
    padding: 1%;
}

figure {
    margin: 0;
}
@media screen and (max-width: 620px){
    *{
        margin: 0%;
        padding: 0%;

    }
    body{
        background-color: bisque;
        font-size: 1em;
    }
    main{
        display: flex;
        flex-wrap: wrap;
    }
    figure{
        width: 46%;
        padding: 1%;
    }
    main h2{
        width: 100%;
        text-align: center;
    }
    h1{
        font-size: 1.4em;
        text-align: center;
    }
}
@media screen and (max-width: 990px){
    *{
        margin: .5%;
        padding: .5%;
    }
    body{
        background-color: burlywood;
        max-width: 100%;
        font-size: 1.1em;
    }
}