body{
    font-size: 16px;
  }
  h1{
      font-size: 65px;
      color: orange;

      font-family: sans-serif;
  }
  p ul{
    background-color: pink;
  }
  p{
    background-color: red;
    font-weight: 600;
    font-size: 3em;;
  }
  ul{
    background-color: blue;
    font-style: italic;
    line-height: 30px;
    text-align: center;
    text-decoration: underline aqua;
    color: white;
  }
  #amr{
    color: black;
    background-color: yellow;
  }
  #vrm{
    background-color: red;
  }
  #mrm{
    background-color: brown;
  }