h1, p{
  text-align: center;
}
li{
  background-color: rgb(0, 0, 255);
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}
li:hover{
  background-color: rgb(255, 0, 0);
}
li:active{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul, ol{
  list-style: none;
}